<div class="container mt-4">
  <div class="p-5 mb-4 bg-primary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{title}}</h1>
      <hr>
      <h2 class="display-5 fw-bold">{{appname}}</h2>
    </div>
  </div>
</div>
<div class="card mt-4" >
  <div class="card-header">
    <h2>Readable news list</h2>
  </div>
  <div class="card-body">
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
  </div>
</div>
